#about {
	> [component-id]:not(.title) {
		&:nth-child(odd):not(.text) {
			background: $grey;
		}
		.card-excellence {
			box-shadow: 1px 1px $secondary lighten($greyHard, 20);
			border-radius: $secondary;
		}
	}
}