#home {
	.wrapper-card-home {
		margin: -$secondary;
		padding: $pw2 $pw2;
		.card-home {
			padding: $secondary;
			position: relative;
			.content {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				padding: 25% 20%;
				.title {
					$size: 35px;
					color: $light;
					line-height: $size;
					margin-bottom: $base;
					word-wrap: break-word;
					font: {
						size: $size;
						family: Display-Medium;
					}
				}
			}
		}
	}
	#banner {
		.rec-slider-container {
			margin: 0;
		}
		padding: 0 $pw2;
	}
	#about {
		padding: 0;
		.description {
			padding: $pw2 $pw2 $pw2 $pw;
			.title {
				line-height: $pw2;
				font-size: $pw2;
				font-family: Display-Medium;
			}
			.sub-title {
				margin: $base 0;
			}
		}
		.wrapper-image {
			margin: -#{$base * 2} 0 0;
			padding: 0 $pw2 0 0;
		}
	}
}