@import "variables";
@import "functions";
@import "global";

#root {
	* {
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		color: $text;
		font-size: $fontSize;
		&:not(.fa):not(.far):not(.fas){
			font-family: Regular;
		}
	}
	#app {
		background: $light;
		@import "Header";
		@import "Home";
		@import "About";
		@import "Collections";
		@import "Product";
		@import "Footer";
	}
}